<h2>Log in!</h2>

<form>

  <div class="form-group">
    <label for="email">Email:</label>
    <input type="text" id="email" name="email">
  </div>

  <div class="form-group">
    <label for="password">Password:</label>
    <input type="password" id="password" name="password">
  </div>

  <button id="login-btn">Login!</button>

</form>